<a href="https://colab.research.google.com/github/Vinith125/Beyond_QWERTY_Project/blob/main/Untitled11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
num = int(input("Enter a number: "))
if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Enter a number: 6
Even

In [4]:
def reverse_string(s):
    l = 0
    r = len(s) - 1
    while l<r:
      s[l],s[r] = s[r],s[l]
      l +=1
      r-=1
    return s


s = [i for i in input().split()]
print(reverse_string(s))

1 3 3 5
['5', '3', '3', '1']

In [5]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)
n = int(input())
print(factorial(n))

4
24

In [6]:
a = [-3,-1,0,1,4,7]
def Binary_search(arr,target):
  N = len(arr)
  L = 0
  R = N-1

  while L <= R:
    M =(L + R)//2
    if arr[M] == target:
      return True
    elif target < arr[M] :
      R = M-1
    else:
      L = M+1

  return False

print(Binary_search(a,-2))

False

In [9]:
#Linked List
class SinglyNode:
  def __init__(self,value,next =None):
    self.val = value
    self.next = next
  def __str__(self):
    return str(self.val)
Head = SinglyNode(1)
A = SinglyNode(3)
B = SinglyNode(7)
C = SinglyNode(8)

Head.next = A
A.next = B
B.next = C

In [10]:
curr = Head
while curr:
  print(curr.val)
  curr =  curr.next

1
3
7
8

In [11]:
#stack
s = []
s.append(1)
s.append(2)
s.append(3)
print(s)

[1, 2, 3]

In [12]:
x = s.pop()
print(x)
print(s)

3
[1, 2]

In [13]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in /usr/local/lib/python3.11/dist-packages (0.5.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (3.14.0)
Requirement already satisfied: ipython in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlalchemy>=2.0 in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (2.0.38)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (75.1.0)
Collecting jedi>=0.16 (from ipython->ipython-sql)
  Downloading jedi-0.19.2-py2.py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: decorator in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (3.0.50)
Requirement already satisfied: pygments in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: backcall in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.11/dist-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.11/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.11/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Downloading jedi-0.19.2-py2.py3-none-any.whl (1.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 18.2 MB/s eta 0:00:00
Installing collected packages: jedi
Successfully installed jedi-0.19.2

In [15]:
import sqlite3
import pandas as pd

In [29]:
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

In [30]:
# Creating Sample Table for Queries
cursor.execute('''CREATE TABLE Employee (
    id INT PRIMARY KEY,
    name TEXT,
    salary REAL
);''')

In [31]:
cursor.executemany('INSERT INTO Employee (id, name, salary) VALUES (?, ?, ?);', [
    (1, 'Alice', 50000),
    (2, 'Bob', 60000),
    (3, 'Charlie', 70000),
    (4, 'David', 60000),
    (5, 'Eve', 80000)
])

In [32]:
conn.commit()

In [33]:
query = "SELECT * FROM Employee;"
df = pd.read_sql_query(query, conn)
display(df)

   id     name   salary
0   1    Alice  50000.0
1   2      Bob  60000.0
2   3  Charlie  70000.0
3   4    David  60000.0
4   5      Eve  80000.0

In [34]:
# Question: How do you find the second highest salary from an Employee table?
query = "SELECT DISTINCT salary FROM Employee ORDER BY salary DESC LIMIT 1 OFFSET 1;"
df = pd.read_sql_query(query, conn)
display(df)

    salary
0  70000.0